@media (max-width: 600px) {

    .header {
        padding: 20px 7%;
        flex-direction: column;
        align-items: start;
    }

    /* .head2{
        align-items: start;
    } */

    .logo img {
        width: 12vw;
    }

    

    /* This class is used for opening and closing the dropdown menu when we click on side button this class is enabled when we click on it again this class gets disabled */
    
    .navbar {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 2vw 0;
    }

    .active-nav {
        display: flex;
    }

    .navbar a {
        display: block;
        margin: 1vh 0;
        padding-bottom: 3vw;
        width: 100%;
        text-align: center;
        font-size: 4vw;
        animation-duration: 0.3s;
        color: white;
    }


    .header i {
        /* This icon will take top and right from it's parent and not html because the parent is already declared a position */
        position: absolute;
        top: 1.3rem;
        font-size: 8vw;
        right: 3rem;
        display: block;
        animation-name: slideLeft;
        animation-duration: 0.5s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }

    .header .icon{
        display: none;
    }

    /* HOME----------------------- */

    #home {
        flex-direction: column-reverse;
        padding: 5vw 5%;
        margin-top: 20vh;
    }

    .home-content {
        text-align: center;
        width: 100%;
        margin-top: 4vh;
    }

    .home-content h1 {
        font-size: 8vw;
    }

    .home-content h3 {
        font-size: 5vw;
    }

    .home-content p {
        font-size: 2vw;
    }
    
    .social-media{
        display: flex;
        justify-content: center;
    }

    .social-media a i{
        font-size: 5vw;
        padding: 2vw;
        margin: 0 1vw 2vh 1vw;
        border: 1vw solid #00abf0;
    }

    .btn {
        font-size: 3.5vw;
        padding: 2vw 4vw;
    }

    #home .home-img {
        width: 60%;
        margin-bottom: 2vh;
        justify-content: center;
    }

    #skills {
        margin: 18vh 10% 5vh 10%;
        box-shadow: 1px 0 10px black;
    }

    #skills h2 {
        font-size: 5vw;
    }

    #skills .skill-name {
        font-size: 3vw;
    }

    .ri-html5-fill {
        color: orange;
        font-size: 5vw;
    }

    .ri-css3-fill {
        color: #00abf0;
        font-size: 5vw;
    }

    .ri-javascript-fill {
        color: yellow;
        font-size: 5vw;
    }

    .fa-node {
        font-size: 5vw;
        color: green;
    }

}