*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    /* for smooth scrolling effect */
    scroll-behavior: smooth;
}

body{
    background: #1f242d;
    /* background-color: rgb(9, 27, 42);; */
    background-color: rgb(8, 19, 28);
    color: white;
}

/* --------------------------------------------------- Header ------------------------------------------------------------------ */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    /* background-color: #1f242d; */
    background-color: rgb(8, 19, 28);
    border-bottom: 3px solid #00abf0;
}

.logo{
    /* font-size: 2.3vw; */
    color: white;
    text-decoration: none;
    font-weight: bold;
    opacity: 0;
    animation-name: slideRight;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}



.logo img{
    width: 7vw;
}

.navbar a{
    font-size: 1.2vw;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2vw;
    animation-name: slideTop;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: calc(0.2s * var(--i));
    opacity: 0;
    /*had to make display inline block for animation because a is inline by default*/
    display: inline-block;
}

.navbar .active{
    color: #00abf0;
}


.navbar a:hover{
    color: #00abf0;
    transition: 0.4s;
    text-shadow: 0px 0px 20px #00abf0;
}

.header i{ 
    display: none;
}


/* ------------------------------------------------------------ HOME ------------------------------------------------------------ */

#home{
    /* used margin top 20vh because while making it responsive when the screen size is reduced the vertical height increases so it maintains the margin well rather than vw because whem screen size because smaller the viewport width recuces and height increases */
    margin-top: 20vh;
    /* margin-top: 9vmax; */
    position: relative;
    width: 100%;
    /* height: 80vh;   */
    padding: 4vw 10%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

/* --------------------------------------------------- Home Content (Left side) ------------------------------------------------- */

.home-content{
    width: 55%;
}


.home-content h3{
    font-size: 2vw;
    font-weight: 600;
    /* Opacity made 0 for animation */
    opacity: 0;
}

.home-content h3:nth-of-type(1){
    animation-name: slideBottom;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}



.home-content h3:nth-of-type(2){
    animation-name: slideTop;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

/* @keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
} */

.home-content h1{
    font-size: 4vw;
    font-weight: bold;
    /* text-shadow: 5px 5px 30px black; */
    /* Animation */
    opacity: 0;
    animation-name: slideRight;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
}



span{
    color: #00abf0;
}

.home-content p{
    margin: 2vw 0;
    font-size: 1vw;
    opacity: 0;
    animation-name: slideLeft;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.social-media{
    margin: 0vw 0 3vw 0;
    display: flex;
    padding: 0.5vw 0 1vw 0;   
}

.social-media a i{
    border: 0.3vw solid #00abf0;
    padding: 0.6vw;
    border-radius: 50px;
    margin-right: 1vw;
    font-size: 1.5vw;
    color: #00abf0;
}

.social-media a i:hover{
    color: #1f242d;
    box-shadow: 5px 0 20px #00abf0;
    background-color: #00abf0;
    transition: 0.4s;
}

.btn{
    color: white;
    border: 0.2vw solid #00abf0;
    padding: 1vw 2vw;
    background-color: #00abf0;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.2vw;
    box-shadow: 5px 0 20px #00abf0;
    font-weight: 600;

}


/* By default anchor tag's display is inline that's why we have made it inline-block margin and padding doesn't work on elements which are only inline*/


/* ------------------------------------------------------ Home-IMG (Right Side) -------------------------------------------------- */

#home .home-img{
    width: 45%;
    display: flex;
    justify-content: end;
    
}

.home-img img{
    width: 70%;
    border-radius: 100%;
    border: 2px solid #00abf0;
    box-shadow: 0px 1px 50px #00abf0;
    /* Animation */
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImg 4s ease-in-out infinite;
    animation-delay: 1.5s, 2.5s;
}


/*----------------------------------------------------- SKills Section -----------------------------------------------------------*/

#skills{
    /* border: 1px solid red; */
    margin: 25vh 10% 5vh 10%;
    padding: 0vw 2vw 2vw 2vw;
    /* box-shadow: 5px 0px 20px black; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
}

#skills h2{
    font-size: 3vw;
    font-weight: 700;
    text-align: center;
    padding: 1vw 0 1vw 0;
    text-shadow: 1px 0 10px black;
    border-bottom: 2px solid #00abf0;
    margin-bottom: 2vw;
}

.skill{
    padding: 1vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.skill-name{
    font-size: 1.3vw;
    font-weight: 500;
}


.skill-bar{
    background-color: rgb(26, 30, 37);
    height: 1vw;
    margin: 0.8vw 0 0.8vw 1vw;
    width: 80%;
    border-radius: 5px;
}

.skill-per{
    border-radius: 5px;
    height: 1vw;
    /* Animation added in JS */
    /* animation: toRight 3s ease-in-out forwards; */
    width: 0;
}




/* There is no space between .skill-per and .html means that by doing this we are targetting the same element we can also writr just .html and this is another way */

.skill-per.html{
    background-color: orange;   
}

.skill-per.css{
    background-color: #00abf0;
}

.skill-per.js{
    background-color: yellow;
}

.skill-per.node{
    background-color: greenyellow;
}

/* colors for language icons*/
.ri-html5-fill{
    color: orange;
    font-size: 2vw;
}
.ri-css3-fill{
    color: #00abf0;
    font-size: 2vw;
}
.ri-javascript-fill{
    color: yellow;
    font-size: 2vw;
}

.fa-node{
    font-size: 2vw;
    color: green;
}


/* Animations */

@keyframes slideTop{
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}


@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}


@keyframes slideRight{
    0%{
        transform: translateX(-200px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft{
    0%{
        transform: translateX(200px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

/* Skill bars */
@keyframes toRight{
    100%{
        width: 100%;
    }
}

@keyframes zoomIn{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImg{
    0%{
        transform: translateY(0px);
       
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
        
    }
}

