@media (min-width: 600px) and  (max-width: 1100px){


    .header .logo img{
        width: 8vw;
    }

    .header .navbar a{
        font-size: 2vw;
    }

    #home{
        margin-top: 12vh;
        padding: 4vw 2% 10vw 10%;
    }


    .home-content h1{
        font-size: 6vw;   
    }

    .home-content h3{
        font-size: 3vw;
    }

    .home-img img{
        width: 60%;
    }

    .social-media a i{
        font-size: 2vw;
    }

    .home-content .btn{
        font-size: 1.5vw;
        padding: 0.5vw 1.2vw
    }

    /* Skills */

    #skills{
        margin: 20vh 10%;
    }

    #skills h2{
        font-size: 8vw;
    }
    
    #skills .skill-name{
        font-size: 3vw;
    }
    
    #skills .lang-icons{
        font-size: 4vw;
        
    }
    
    #projects{
        margin: 20vh 10%;
        padding: 10vh 0;
    }
    
    #projects h2{
        font-size: 8vw;
        
    }

    #projects .project-1 img{
        width: 80%;
    }

    .project-1 h3{
        font-size: 3vw;
    }

    .project-1 h5{
        font-size: 1.5vw;
        text-align: center;
    }

    .project-1 .btn-box .btn{
        font-size: 2vw;
    }
    #projects .project-2 img{
        width: 100%;
    }

    #projects .project-2{
        min-height: 25vh;
    }

    .project-2 h3{
        font-size: 4vw;
    }

    .project-2 h5{
        font-size: 2vw;
        text-align: center;
    }

    .project-2 .btn-box .btn{
        font-size: 2vw;
    }

}